@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

h6{
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
}

h1{
  font-size: 20px;
  display: inline-block;
}

h2{
margin:0;
margin-bottom: 10px;
}

h6:hover{
  color: #D05525;
  transition: .2s;
}

h4{
  margin: 5px;
}

#add-drop{
  font-size: 12px;
  margin: 0;
  display: none;
  background-color:#D05525;
  border-radius: 7px;
  padding: 10px 10px;
  width: 250px;
  margin: 10px;

}

#add-code{
  height: 60px;
  width: 400px;
  text-align: center;
  border-radius: 30px;
  margin:20px 0;
  box-shadow:inset 0 0 3px #303030;
  font-size: 30px;
}

#small-text{
  font-size: 15px;
  margin: 0;
}

.submit{
  margin: 10px;
  width:200px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #4f6d7a;
  color: #C0D6DF;
  border: none;
  border-radius: 20px;
  outline: none;
  opacity: 1;
}

#sign-up-intro{
  text-align: center;
  display: block;
  margin-top: 35vh;
}


#camp-form{

  margin:auto;
    display: none;
  text-align: center;
}

#camp-info{
  margin:auto;
    width: 80%;
    display: block;
}

.years{
  background-color:#D05525;
  border-radius: 7px;
  margin: 10px;
  padding: 30px 20px;
  width:300px;
  display: inline-block;
  height: 175px;
}

.blocking{
  background-color:#D05525;
  border-radius: 7px;
  margin: 5px;
  padding: 30px 20px;
  width:80%;
  max-width: 500px;
  min-width: 200px;
  display: inline-block;
}

#next-steps{
  display: none;
  margin-top: 30vh;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

#next-steps-container{
  display: flex;
}

.steps{
  background-color:#D05525;
  border-radius: 7px;
  margin: 10px;
  padding: 30px 20px;
  width:300px;
  display: inline-block;
  height: 250px;
  text-align: center;
}

.steps h3{
  font-size: 15px
}


#name-info{
  font-size: 13px;
  margin-top:0px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #eaeaea;
  width: 60%;

}

#pass-info{
  font-size: 13px;
  margin-top:0px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #793215;
  width: 60%;
  display: none;

}

label{
  font-family: 'Montserrat', sans-serif;
  color: #EAEAEA;
}



input[type="radio"]{
  height: 20px;
  width: 20px;
}

#profile-info input[type="text"]{
height: 20px;
border-radius:3px;
box-shadow:inset 0 0 0px #303030;
text-align: left;
width: 50%;

}

#about-info input[type="text"]{
height: 20px;
border-radius:4px;
box-shadow:inset 0 0 1px #303030;
text-align: left;
width: 50%;

}

#about-info{
  text-align: center;
  display: none;
}

#about-title {
  margin-top: 20vh;
}

.questionnaire{
  background-color:#D05525;
  border-radius: 7px;
  margin: 5px;
  padding: 30px 20px;
  max-width:50%;
  min-width: 400px;
  display: inline-block;

}


#profile-info{
  margin-top: 10vh;
  display: none;
}

#ask-name{
  display: none;
  margin-top: 35vh;
}

#name-box{
  width: 60%;
  margin-top: 7vh;
}


.sticker{
  width: 30px;
  position: absolute;
  top:20px;
  left: 20px;
}


.custom-select {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color:#4F6D7A;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #4F6D7A transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #4F6D7A;
  padding: 8px 16px;
  border: none;
  cursor: pointer;

}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;

}

.select-hide {
  display: none;
  border-radius: 10px;

}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
